.wrapper {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 18%, rgba(216, 219, 214, 1) 18%,  rgba(216, 219, 214, 1) 100%);
    padding-top: 30px;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: calc(100vh - 60px);
}

aside {
    background-color: white;
    height: calc(100vh - 60px);
}

.contacts-list {
    height: calc((100vh - 60px) - 150px);
    overflow: hidden;
    overflow-y: auto;
}

nav {
    height: 50px;
    background-color: #EAEAEA;
}

.new-notifications {
    height: 60px;
    background-color: #8EDAFC;
    font-size: 0.8rem;
    line-height: 1;
}

.bell-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #8EDAFC;
    text-align: center; 
    line-height: 40px;
    font-size: 1rem;
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}

a {
    color: grey;
    font-size: 0.6rem;
}
.search-bar {
    height: 40px;
    background-color: #EAEAEA;
    text-align: center;
}

#search-btn {
    height: 25px;
    margin-left: 10px;
    border-style: none;
    border-right: 1px solid #EAEAEA;
    color: darkgray;
    width: 10%;
    background-color: white;
    font-size: 12px;
}

input {
    width: 80%;
    border-style: none;
    border-radius: 2px;
    font-size: 11px;
    color: darkgray;
    height: 25px;
    padding-left: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    border-top: 1px solid #EAEAEA;
    padding-left: 0;
}

.avatar-img {
    width: 10%;
    border-radius: 50%;
    margin-left: 15px;
}

.nav-img {
    width: 40px;
}

.icons i, footer i {
    color: grey;
    margin-right: 15px;
    cursor: pointer;
}

footer {
    height: 50px;
    background-color: #EAEAEA;
}

.chat-window {
    height: calc((100vh - 60px) - 100px);
    background-image: url("../img/mine.jpg");
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px 30px;
}

.bubble {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 7px 10px;
    max-width: 50%;
}

.sent {
    background-color: rgb(203, 246, 203);
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;
}

.active {
    background-color: #E5DDD5;
}

.user-preview:hover {
    background-color: #e5ddd582;
}

footer input {
    height: 35px;
    border-radius: 5px;
}

footer i {
    font-size: 1.2rem;
}