.wrapper {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 15%, rgba(216, 219, 214, 1) 15%,  rgba(216, 219, 214, 1) 100%);
    padding-top: 30px;
}

.container {
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    height: calc(100vh - 60px);
}

aside {
    border: 1px solid black;
}

main {
    border: 1px solid black;
}