<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div class="wrapper">
        <div id="app">
            <div class="container">
                <div class="row">
                    <aside class="col-5 gx-0">
                        <nav>
                            Avatar utente
                        </nav>

                        <div class="new-notifications">
                            Ricevi notifiche di nuovi messaggi
                        </div>

                        <div class="search-bar d-flex align-items-center">
                            <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>

                        <ul class="ps-0">
                            <li v-for="(contact, id) in contacts" :key="id">
                                <div class="d-flex justify-content-start py-2">
                                    <img class="avatar-img" v-bind:src="contact.avatar"></img>
                                    <span class="ms-3">{{ contact.name }}</span>
                                </div>    
                            </li>
                        </ul>
                    </aside>
        
                    <main class="col-7 gx-0">
                        <nav>
                            Chat contatto
                        </nav>

                        <div class="chat-window">
                            <ul>
                                <li v-for="(message, index) in messages" :key="index">
                                    <div>
                                       <!-- {{ contacts[activeContact].messages[index] }} -->
                                       

                                    <!-- {{ contacts[activeContact].messages[index].message[1] }} -->
                                    

                                    </div>

                                </li>
                            </ul>
                        </div>

                        <footer>
                            input 
                        </footer>
                    </main>   
                </div>    
            </div>
        </div>

    </div>
    

    <script src="./js/script.js"></script>
</body>
</html>