<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div class="wrapper">
        <div id="app">
            <div class="container px-0">
                <div class="row">
        <!-- Colonna di sinistra -->
                    <aside class="col-5 gx-0">
                        <nav class="d-flex justify-content-between align-items-center">
                            <div>
                                <img class="avatar-img nav-img" src="./img/avatar_io.jpg" alt="Your pic">
                                <span class="ms-1">Sofia</span>
                            </div>

                            <div class="icons">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </nav>

                        <div class="new-notifications d-flex align-items-center">
                            <div class="bell-icon">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div>
                                Ricevi notifiche di nuovi messaggi<br>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
        <!-- Search-bar -->
                        <div class="search-bar d-flex align-items-center">
                            <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model.trim="userSearch">
                        </div>
        <!-- Lista contatti -->
                        <div class="contacts-list">
                            <ul>
                                <li v-for="(contact, id) in filteredContacts" :key="id" @click="activateUser(contact.id)">
                                    <div class="user-preview d-flex justify-content-between py-2" :class="id == activeContact ? 'active' : ''">

                                        <div class="d-flex justify-content-start align-items-center">
                                            <img class="avatar-img" :src="`./img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                            <div class="ms-3">
                                                <div>{{ contact.name }}</div>
                                                <div class="details"> {{ printLastMsg(contact).message }} </div>
                                            </div>     
                                                                         
                                        </div>

                                        <div class="details text-end me-1">
                                            {{ printLastMsg(contact).date }}
                                        </div>
                                    </div>    
                                </li>
                            </ul>
                        </div>
                    </aside>
        <!-- colonna di destra -->
                    <main class="col-7 gx-0">
                        <nav>
                            <div class="d-flex justify-content-between align-items-center pt-1">
                                <div class="d-flex justify-content-start">
                                    <div>
                                        <img class="avatar-img nav-img" :src="`./img/avatar${contacts[activeContact].avatar}.jpg`" :alt="contacts[activeContact].name">
                                    </div>
                                 
                                    <div class="ms-1">{{ contacts[activeContact].name }}
                                        <div class="details">
                                            Ultimo accesso 
                                            {{ printLastAccess(contacts, activeContact).date }}
                                        </div>
                                    </div>
                                </div>

                                <div class="icons">
                                    <i class="fa-solid fa-magnifying-glass"></i> 
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </nav>
    	<!-- Finestra chat -->
                        <div class="chat-window">
                            <div class="bubble d-flex" v-for="(item, index) in contacts[activeContact].messages" :key="index" :class="item.status == 'sent' ? 'sent' : 'received'">
                            {{ contacts[activeContact].messages[index].message }}

                                <div id="open-select" @click="showSelect">
                                    <i class="fa-solid fa-angle-down ps-3"></i> 
                                </div>
                            
                                <!-- <select name="msg-options" id="msg-options" class="hidden" :class="{ show: visibileSelect }">                               
                                    <option value="info">Info messaggio</option>
                                    <option value="delete">Cancella messaggio</option>
                                </select> -->
                            </div> 
                        </div>
        <!-- Casella input messaggio -->
                        <footer class="d-flex justify-content-around align-items-center">
                            <i class="fa-regular fa-face-smile ms-3"></i>
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                            <i class="fa-solid fa-microphone me-3"></i>
                        </footer>
                    </main>   
                </div>    
            </div>
        </div>

    </div>
    

    <script src="./js/script.js"></script>
</body>
</html>